services:
  mysql:
    image: mysql:8.0
    container_name: mysql_container
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: empresas_db
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports: 
      - "3306:3306"
    volumes: 
      - ${DB_DATA_PATH}:/var/lib/mysql

networks:
  app_network:
    driver: bridge